* {
   
    font-family:Arial, Helvetica, sans-serif;
  }

  .classselect {
    border: 3px solid black;
    color: white;
    height: 250px;
    width: 250px;
    background-color: #6b9400;
    text-align: center;
    font-size: 25px;
  }

  .idselect {
    border: 5px solid black;
    color: white;
    height: 250px;
    width: 100%;
    background-color: rgb(37, 99, 71);
    text-align: center;
    font-weight: bolt;
    font-size: 35px;
  }

 #h2 {
 font-family: Arial, Helvetica, sans-serif;
 color:black;
  }

  .bda {
    background-image: url('.\images\contact');
    height: 500px;
    width: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #db {
    border:4px;
    border-style:dotted;
    border-width:8px;
    text-align: center;
  }
  #dd {
    border:4px;
    border-style:double;
    border-top-left-radius:12px;
    border-bottom-right-radius:12px;
    text-align: center;
  }
  #dr {
    border:6px;
    border-style:ridge;
    border-color:orange;
    text-align: center;
    
  }
  #ds {
    border: 4px groove green;
    text-align: center;
  
  }

  #os {
    border: 9px;
    border-style:dotted;
    border-width:6px;
    text-align: center;
    outline-style: dashed;

  }

  #oc {
    border: 3px solid black;
    outline-style: solid;
    outline-color: red;
    outline-width: thin;
    text-align:center;

  }
  #osh {
    border: 9px groove green;
    text-align: center;
    
  }

  #of {
    margin: 30px;
    background:lightslategrey;
    border: 1.5px solid black;
    outline: 3px solid greenyellow;
    outline-offset: 25px;
    text-align:center;
  }

  #mn {
    border:5px solid black;
    background-color: azure;
    margin-top:80px;
    margin-right:50px;
    margin-bottom:80px;
    margin-left:80px;
    width:300px;
    height: 150px;
    
  }
 #pd   { 
    border:5px solid black;
    background-color: azure;
    padding-top:60px;
    padding-right: 20px;
    padding-bottom:60px;
    padding-left:60px;
 }





.topic {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:	lightgreen;
  width:20%;
  margin-left:10%;
  margin-right:auto;
  float:left;
 }

.htopic1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:	lightgreen;
  width:20%;
  margin-left:10%;
  margin-right:auto;
  float:left;
 }

.htopic2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:	lightgreen;
  width:20%;
  display:block;
  margin-left:10%;
  margin-right:auto;
  float:left;
 }


 .von {
  text-align:center;
  font-size:30px;
  font-weight:bold;
  color:white;

  }

  .vux {
display: block;
color:black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

a:hover{
background-color:teal;
}


  
 
